{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">Alumni Panel</h1>
		
		<p>We are excited to feature SLC alumni from a variety of professional settings such as academia, non-profits, business and&nbsp;government&nbsp;positions. &nbsp;Below is a list of the alumni who will be attending the 2013 iSLC conference!</p>
<p><a href="http://www.wested.org/cs/we/view/u/2614"><span style="color: #000000;">Jodi Davenport (PSLC): &nbsp;Director of Research, National Center on Cognition and Mathematics Instruction at West Ed</span></a></p>
<p><span style="color: #333399;"><a href="http://www.amisworks.com/"><span style="color: #000000;">Greg Amis&nbsp;(CELEST): Senior Research Engineer, BAE Systems</span></a></span></p>
<p><a href="http://education.temple.edu/faculty/booth_j.html"><span style="color: #000000;">Julie Booth (PSLC): &nbsp;Assistant Professor, Temple University</span></a></p>
<p><span style="color: #000000;"><a href="http://www.swarthmore.edu/academics/psychology/faculty-and-staff.xml"><span style="color: #000000;">Stella Christie (SILC): &nbsp;Assistant Professor, Swarthmore College</span></a></span></p>
<p><span style="color: #000000;"><span style="color: #000000;"><a href="http://www.globalabilities.org/"><span style="color: #000000;">Kelly Fisher (SILC): Executive Branch Fellow, Office of Planning, Research and Evaluation (OPRE) and Vice President of Global Abilities </span></a></span></span></p>
<p>Victor Schinazi&nbsp;(SILC): Senior Research Associate at the Department of Geography, University of Oregon</p>
<p><span style="color: #333399;"><a href="http://www.carnegielearning.com/"><span style="color: #000000;">Bob Hausmann (PSLC): Cognitive Scientist&nbsp;at Carnegie Learning</span></a></span></p>
<p><a href="http://www.oise.utoronto.ca/ctl/Faculty_Staff/Faculty_Profiles/2132/Indigo_Esmonde.html"><span style="color: #000000;">Indigo Esmonde (LIFE): &nbsp;Associate Professor, University of Toronto</span></a></p>
<p><a href="http://www.electronicink.com/author/sfitzhugh/"><span style="color: #000000;">Shannon Fitzhugh (SILC): &nbsp;Researcher, Electronic Ink</span></a></p>
		
	</div>
    {% endblock %}
