{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">About</h1>
		
        <p>The seventh annual inter-Science of Learning Centers (iSLC) Conference
        will be hosted by the Pittsburgh Science of Learning Center (PSLC) in
        Pittsburgh, PA from March 6 to March 8, 2014. The iSLC 2013 conference
        will be focused on the general theme of “Navigating the Future of the
        Science of Learning.” This theme encompasses three strands:
        sustainability, collaboration, and research applications.
        </p>
        
        <p>
            The conference will contain scientific discussions, networking
            activities, poster sessions, and oral presentations focused on the
            efforts of iSLC participants. There will also be sessions aimed at (1)
            exploring ways to keep researchers in the science of learning and
            attract new people to the field, (2) increasing collaboration and
            crosstalk between the centers, and (3) discussing key challenges
            facing the science of learning field. There will also be an
            opportunity for a select group of participants to work with staff of
            the Children's Museum of PIttsburgh to iteratively design visitor
            exhibits. These sessions will contribute to the broader goals of
            sustaining participation in the learning sciences, fostering
            collaboration between different science of learning centers, and
            focusing attention on research applications.
        </p>
			
{% endblock %}		
			<!-- End Content -->
