{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">About</h1>
		
		<p>The seventh annual inter-Science of Learning Centers (iSLC) Conference will be hosted by the Spatial Intelligence and Learning Center (SILC) in Philadelphia, PA from February 21 to February 23, 2013.</p>
<p>The iSLC 2013 conference will be focused on the general theme of "Science of Learning: &nbsp;Past, Present and Future." This theme emphasizes the importance of maintaining our network of science of learning researchers in order to sustain the field of the Science of&nbsp;Learning.</p>
<p>The conference will contain scientific discussions, networking activities, poster sessions, and oral presentations focused on the efforts of iSLC participants. There will also be sessions aimed at integrating findings from talks into ideas on how to apply the findings to research in other centers. These sessions will contribute to the broader goal of enhancing the educational experience of the participants and promoting cross-Center collaborations.</p>
<p>
			
{% endblock %}		
			<!-- End Content -->
