{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">Participants</h1>
		
		<p>The iSLC Conference will include all registered participants from the six Centers as shown below.</p>
		
		<ul class="participants"><li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/94_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Andres Felipe</span>
													<span class="name last_name">Salazar Gomez</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Graduate Program of Neuroscience</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/93_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Geo</span>
													<span class="name last_name">Kartheiser</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Department of Linguistics</div>
												<div class="university">Gallaudet University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/92_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Deborah</span>
													<span class="name last_name">Cates</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Linguistics</div>
												<div class="university">UC Davis</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/91_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sofia</span>
													<span class="name last_name">Campos</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California, San Diego </div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/90_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Katie</span>
													<span class="name last_name">Van Horne</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">College of Education</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/89_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Amy</span>
													<span class="name last_name">Letteri</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Psychology</div>
												<div class="university">Gallaudet </div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/88_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Derek</span>
													<span class="name last_name">Lomas</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">HCII</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/87_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Heidy</span>
													<span class="name last_name">Maldonado</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">School of Education</div>
												<div class="university">Stanford University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Erin</span>
													<span class="name last_name">Wilkerson</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Northwestern</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/85_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Martina</span>
													<span class="name last_name">Rau</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">HCI</div>
												<div class="university">CMU</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/84_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Erin</span>
													<span class="name last_name">Maloney</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/83_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Steven</span>
													<span class="name last_name">Marchette</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Pennsylvania</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/82_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Erica</span>
													<span class="name last_name">Cartmill</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/81_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Katherine</span>
													<span class="name last_name">Martin</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Linguistics</div>
												<div class="university">University of Pittsburgh</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/80_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sharon</span>
													<span class="name last_name">Seegers</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">VL2</div>
												<div class="department">Center for Research in Language</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sharon</span>
													<span class="name last_name">Seegers</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">VL2</div>
												<div class="department">Center for Research in Language</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/78_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Jamie</span>
													<span class="name last_name">Jirout</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/77_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Déana</span>
													<span class="name last_name">Scipio</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">Learning Sciences</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Zhan</span>
													<span class="name last_name">Wang</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">PSLC</div>
												<div class="department">Learning Research and Development Center</div>
												<div class="university">University of Pittsburgh</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/75_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Hiroki</span>
													<span class="name last_name">Oura</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">College of Education</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/74_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Gaowei</span>
													<span class="name last_name">Chen</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">PSLC</div>
												<div class="department">LRDC</div>
												<div class="university">University of Pittsburgh</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Ilya</span>
													<span class="name last_name">Goldin</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">PSLC</div>
												<div class="department">Human-Computer Interaction Institute</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Juan</span>
													<span class="name last_name">Zhang</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">PSLC</div>
												<div class="department">Learning Research and Development Center</div>
												<div class="university">University of Pittsburgh</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/71_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Carly</span>
													<span class="name last_name">Kontra</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/70_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Eliane</span>
													<span class="name last_name">Stampfer</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Human-Computer Interaction Institute</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/69_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Ilyse</span>
													<span class="name last_name">Resnick</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/68_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Luisa</span>
													<span class="name last_name">Schuster</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">TDLC</div>
												<div class="department">Psychology</div>
												<div class="university">San Diego City College/UCSD</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/67_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Benjamin</span>
													<span class="name last_name">Hedrick</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">Education</div>
												<div class="university">Stanford University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/66_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Indigo</span>
													<span class="name last_name">Esmonde</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">LIFE</div>
												<div class="department">Curriculum, Teaching and Learning</div>
												<div class="university">University of Toronto</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/65_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Theresa</span>
													<span class="name last_name">Horstman</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">Learning Sciences</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/64_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Cindy</span>
													<span class="name last_name">Lam</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Bertrand</span>
													<span class="name last_name">Schneider</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">School of Education</div>
												<div class="university">Stanford University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/62_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Elizabeth</span>
													<span class="name last_name">Hirshorn</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">PSLC</div>
												<div class="department">Learning Research and Development Center</div>
												<div class="university">University of Pittsburgh</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/61_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Timothy</span>
													<span class="name last_name">O\\\\\\\'Mahony</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">LIFE</div>
												<div class="department">Education</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Gabriella</span>
													<span class="name last_name">Musacchia</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">TDLC</div>
												<div class="department">Center for Molecular and Behavioral Neuroscience</div>
												<div class="university">Rutgers University, Newark</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/59_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Yanjin</span>
													<span class="name last_name">Long</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Human Computer Interaction Institute</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/58_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Jenessa</span>
													<span class="name last_name">Seymour</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Neuroscience</div>
												<div class="university">University of Illinois at Urbana-Champaign</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/57_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Paul</span>
													<span class="name last_name">Twitchell</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Linguistics</div>
												<div class="university">University of New Mexico</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/56_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Bertrand</span>
													<span class="name last_name">Schneider</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">School of Education</div>
												<div class="university">Stanford University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/55_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">David</span>
													<span class="name last_name">Miller</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Northwestern University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/54_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Maki</span>
													<span class="name last_name">Koyama</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">TDLC</div>
												<div class="department">Center for Molecular &amp; Behavioral Neuroscience</div>
												<div class="university">Rutgers University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/53_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Bill</span>
													<span class="name last_name">Price</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Linguistics</div>
												<div class="university">University of Pittsburgh</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/52_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sarah</span>
													<span class="name last_name">DAngelo</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">UCSD</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/51_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Benjamin</span>
													<span class="name last_name">Anible</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Linguistics</div>
												<div class="university">University of New Mexico</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/50_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sarah</span>
													<span class="name last_name">Roseberry</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">LIFE</div>
												<div class="department">Institute for Learning and Brain Sciences</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/49_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Danielle</span>
													<span class="name last_name">Keifert</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">Learning Sciences</div>
												<div class="university">Northwestern University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/48_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Kaja</span>
													<span class="name last_name">Jasinska</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Neuroscience</div>
												<div class="university">University of Toronto</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/47_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Nathan</span>
													<span class="name last_name">George</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/46_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Eliza</span>
													<span class="name last_name">Congdon</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/45_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Corrine</span>
													<span class="name last_name">Occhino-Kehoe</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Linguistics</div>
												<div class="university">University of New Mexico</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/44_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Andrew</span>
													<span class="name last_name">Morozov</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">LIFE</div>
												<div class="department">Learning Sciences</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/43_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Linsey</span>
													<span class="name last_name">Smith</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Northwestern</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/42_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Dominic</span>
													<span class="name last_name">Gibson</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/41_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Jessica</span>
													<span class="name last_name">Contreras</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">ASLIE</div>
												<div class="university">Rochester Institute of Technology</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/40_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Colleen</span>
													<span class="name last_name">Davy</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Psychology</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/39_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Tilbe</span>
													<span class="name last_name">Goksun</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Neurology</div>
												<div class="university">University of Pennsylvania</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/38_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Erica </span>
													<span class="name last_name">Israel </span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">American Sign Language and Interpreting Education </div>
												<div class="university">Rochester Institute of Technology </div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/37_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Corinne</span>
													<span class="name last_name">Holmes</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/36_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Kinnari</span>
													<span class="name last_name">Atit</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">bryan</span>
													<span class="name last_name">matlen</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">psychology</div>
												<div class="university">carnegie mellon university</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/34_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Erin</span>
													<span class="name last_name">Maloney</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/33_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Alex</span>
													<span class="name last_name">Simpkins</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">TDLC</div>
												<div class="department">Computer Science and Engineering</div>
												<div class="university">University of Washington</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/32_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Kinnari</span>
													<span class="name last_name">Atit</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/31_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Wenke</span>
													<span class="name last_name">Mohring</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Department of Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/30_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Ben</span>
													<span class="name last_name">Cipollini</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">UC San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/29_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Kay </span>
													<span class="name last_name">Ramey</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Learning Sciences</div>
												<div class="university">Northwestern University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/28_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Steven</span>
													<span class="name last_name">Weisberg</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">Temple University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/27_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Miriam</span>
													<span class="name last_name">Novack</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/26_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Caitlin</span>
													<span class="name last_name">Tenison</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Psychology</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/25_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Adam</span>
													<span class="name last_name">Stone</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Education</div>
												<div class="university">Gallaudet University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/24_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Tanya</span>
													<span class="name last_name">Evans</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">VL2</div>
												<div class="department">Interdisciplinary Program in Neuroscience (Pediatrics)</div>
												<div class="university">Georgetown University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/23_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Carly</span>
													<span class="name last_name">Kontra</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">SILC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Chicago</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Abigail</span>
													<span class="name last_name">Noyce</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Psychology</div>
												<div class="university">Brandeis University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/21_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Matthew</span>
													<span class="name last_name">Jacovina</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">SILC</div>
												<div class="department">Department of Psychology, School of Education and Social Policy (SESP)</div>
												<div class="university">Northwestern University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/20_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Bryan</span>
													<span class="name last_name">Matlen</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">PSLC</div>
												<div class="department">Psychology</div>
												<div class="university">Carnegie Mellon University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/19_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Gabriella</span>
													<span class="name last_name">Musacchia</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">TDLC</div>
												<div class="department">Center for Molecular and Behavioral Neuroscience</div>
												<div class="university">Rutgers University, Newark</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/18_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Marybel</span>
													<span class="name last_name">Robledo</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/17_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sue</span>
													<span class="name last_name">Peters</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">The Infancy Studies Laboratory, CMBN</div>
												<div class="university">Rutgers University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/16_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Richard</span>
													<span class="name last_name">Tibbles</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/15_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Vicente</span>
													<span class="name last_name">Malave</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/14_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Buyun</span>
													<span class="name last_name">Xu</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Victoria</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/13_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Karmen</span>
													<span class="name last_name">Dykstra</span>
												</h3>
												<div class="student_status">Undergraduate Studen</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California, San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Maki</span>
													<span class="name last_name">Koyama</span>
												</h3>
												<div class="student_status">Postdoctoral Fellow</div>
												<div class="center">TDLC</div>
												<div class="department">Center for Molecular &amp; Behavioral Neuroscience</div>
												<div class="university">Rutgers University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/11_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Sheeraz</span>
													<span class="name last_name">Ahmad</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Computer Science and Engineering</div>
												<div class="university">University of California San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/10_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Jeremy</span>
													<span class="name last_name">Karnowski</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Cognitive Science</div>
												<div class="university">University of California San Diego</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Stefan</span>
													<span class="name last_name">Berteau</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">CNS</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/8_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Brendan</span>
													<span class="name last_name">Murphy</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Graduate Program for Neuroscience, GMS</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/7_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Simen</span>
													<span class="name last_name">Hagen</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Psychology</div>
												<div class="university">University of Victoria</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/6_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Brett</span>
													<span class="name last_name">Roads</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">TDLC</div>
												<div class="department">Computer Science</div>
												<div class="university">University of Colorado, Boulder</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/5_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Samantha</span>
													<span class="name last_name">Michalka</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Computational Neuroscience</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Chris</span>
													<span class="name last_name">Johnson</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Cognitive and Neural Systems</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/silhouette.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Spencer</span>
													<span class="name last_name">Torene</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Graduate Program in Neuroscience</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/2_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Maya</span>
													<span class="name last_name">Rosen</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Psychology</div>
												<div class="university">Boston University</div>
											</div>
									   </li>
<li>
											<div class="image">
												<img alt=" " class="picture" src="./Participants   iSLC Conference 2013_files/1_width150.jpg">
											</div>
											<div class="text">
												<h3>
													<span class="name first_name">Eric</span>
													<span class="name last_name">Denovellis</span>
												</h3>
												<div class="student_status">Graduate Student</div>
												<div class="center">CELEST</div>
												<div class="department">Graduate Program for Neuroscience</div>
												<div class="university">Boston University</div>
											</div>
									   </li><div class="clear"></div></ul>		
	</div>
    {% endblock %}
