{% extends "website/base.htm" %}
    {% load staticfiles %}
{% block content %}
<h1 class="entry-title">Call for Proposals</h1>
		
<p>Student and postdoctoral researchers from the NSF-funded Science of Learning
Centers (SLCs) will meet at the Seventh Annual iSLC Student /
Postdoctoral Fellow
Conference on March 6-8, 2014. During this three-day conference hosted by
PSLC, participants will discuss their interests for understanding and improving
how people learn in a variety of settings. To this end, participants will share
and learn about useful methods for conducting research to achieve these goals.</p>
<p>The iSLC 2014 conference will be focused on the general theme of "Navigating the
Future of the Science of Learning." This theme emphasizes the importance of
creating a community of science of learning researchers to build a field that
can sustain itself when the NSF centers no longer exist. The conference will
focus on bringing students and postdocs together with previous SLC alumni to
discuss how the science of learning can be sustained as a interdisciplinary
research field.  All invited attendees are encouraged to submit a one-page
proposal for a poster or symposia presentation. All poster proposals will be
accepted. Symposia submissions will be reviewed by a committee of
representatives from the six SLCs. If your proposal is not selected for a
symposia session, it will automatically be entered as a poster. All proposals
should be formatted according to the <!--<a href={% static "website/ISLC_Proposal_Template.doc" %}>-->
    Proposal Template (template to be posted here soon)<!--</a>-->. Proposals are due on
11:59 p.m. EST on <strong style="color: #ff0000;">Wednesday, January 15, 2014</strong>. Email notification of acceptance
will be provided by Friday, Janury 31, 2014.  POSTER SUBMISSIONS: Posters
may represent SLC research in any stage of development: conceptualization, data
collection in progress, analysis in progress, completed work, etc.</p>
<p><strong>SYMPOSIA SUBMISSIONS</strong></br> Participants who have research that is in a complete or
near- complete stage are encouraged to submit their abstract proposal as a
symposium presentation. All research topics representative of work across the
SLCs are welcome. Symposia will be single track and each presentation will be 20
minutes long (including questions).</p>
<p><strong>WORKSHOP SUBMISSIONS</strong> </br>Student and postdoctoral fellows are invited to submit
individual or collaborative proposals to present a workshop.  Workshops can be
on a variety of tops related to research tools and methods of interest, problems
and issues faced in interdisciplinary research, applying science of learning
research to informal learning settings, etc.  Each workshop will be 1 hour.
Successful workshops in the past have had active participation by participants
rather than a lecture style format. Special consideration will be given to
proposals that are co-organized by multiple centers and those that will be
interesting to a diverse audience.  If you are interested in leading a workshop
please submit a proposal with an abstract, a description of what will happen and
who will benefit from your workshop.  This is an excellent opportunity to lead a
session and add a great line to your CV.  Please submit proposals to Chris
MacLellan (<a href='mailto:cmaclell@cs.cmu.edu'>cmaclell@cs.cmu.edu</a>) 
and Caitlin Tenison (<a href='mailto:ctenison@cmu.edu'>ctenison@cmu.edu</a>) by
January 31, 2014.
<p>We look forward to seeing you in Pittsburgh in March!</p>
{% endblock %}
