{% extends "website/base.htm" %}
{% block content %}
		
<h1 class="entry-title">Registration Details</h1>
<!--
<h2><em style="color:#ff0000; font-size:75%;">
    ***Registration is due by December 20th.  Abstracts must be submitted January 15th, 2014.***
</em></h2>
-->
<!--
		<ul class="steps">
			<li class="step">
				<a class="step_link" href="/registration/details">
					<span class="step_number">1</span>
					<span class="step_text">Step One</span>
					<span class="step_description">Personal Details</span>
				</a>
			</li>
			<li class="step">
				<a class="step_link step_link_disabled" href="#">
					<span class="step_number">2</span>
					<span class="step_text">Step Two</span>
					<span class="step_description">Upload Picture</span>
				</a>
			</li>
			<li class="step">
				<a class="step_link step_link_disabled" href="#">
					<span class="step_number">3</span>
					<span class="step_text">Step Three</span>
					<span class="step_description">Upload Abstract</span>
				</a>
			</li>
		</ul>
        -->

        <form action="" class="registration" method="post">
            <!-- {{ form.as_p }} -->
			<table cellpadding="0" cellspacing="0">
                <tbody>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <tr>
                                <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                            </tr>
                        {% endfor %}
                    {% endif %}
					<tr>
                        <td class="key">
							<label>First Name</label>
						</td>
                        <td class="value">
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                {% for error in form.first_name.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <input class="text" name="first_name" placeholder="First" type="text" value="" /> -->
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Last Name</label>
						</td>
                        <td class="value">
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                {% for error in form.last_name.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <input class="text" name="last_name"  placeholder="Last" type="text" value="" /> -->
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Email</label>
						</td>
                        <td class="value">
                            {{ form.email }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <input class="text" name="email" placeholder="Email" type="email" value="" /> -->
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Verify Email</label>
						</td>
                        <td class="value">
                            {{ form.email_confirm }}
                            {% if form.email_confirm.errors %}
                                {% for error in form.email_confirm.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <input class="text" name="email_verify" placeholder="Verify Email" type="email" value="" /> -->
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Student Status</label>
						</td>
                        <td class="value">
                            {{ form.status }}
                            {% if form.status.errors %}
                                {% for error in form.status.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <select name="student_status"> 
								<option selected="selected" value="Postdoctoral Fellow">Postdoctoral Fellow</option>
								<option  value="Graduate Student">Graduate Student</option>
								<option  value="Undergraduate Student">Undergraduate Student</option>
                            </select> -->
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>SLC Center</label>
						</td>
                        <td class="value">
                            {{ form.slc }}
                            {% if form.slc.errors %}
                                {% for error in form.slc.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
							<!-- <select name="center">
								<option selected="selected" value="CELEST">CELEST</option>
								<option  value="LIFE">LIFE</option>
								<option  value="PSLC">PSLC</option>
								<option  value="SILC">SILC</option>
								<option  value="TDLC">TDLC</option>
								<option  value="VL2">VL2</option>
                            </select> -->
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Department</label>
						</td>
                        <td class="value">
                            {{ form.department }}
                            {% if form.department.errors %}
                                {% for error in form.department.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <input class="text" name="department" placeholder="Department" type="text" value="" /> -->
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>University</label>
						</td>
                        <td class="value">
                            {{ form.university }}
                            {% if form.university.errors %}
                                {% for error in form.university.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <input class="text" name="university" placeholder="University" type="text" value="" /> -->
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Research Interests</label>
						</td>
                        <td class="value">
                            {{ form.research }}
                            {% if form.research.errors %}
                                {% for error in form.research.errors %}
                                <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <textarea name="research_interests"></textarea> -->
							<small>Please include a 3-5 sentence description of your research interests</small>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Non-research Interests</label>
						</td>
                        <td class="value">
                            {{ form.nr1 }}
                            {% if form.nr1.errors %}
                                {% for error in form.nr1.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
							<!-- <select name="nonresearch_interest_first">
								<option selected="selected" value="None">None</option>
								<option value="">&nbsp;</option>
								<option  value="Animals/Pets">Animals/Pets</option>
								<option  value="Computers/Electronics">Computers/Electronics</option>
								<option  value="Current Events/Politics">Current Events/Politics</option>
								<option  value="Fine Arts/Reading">Fine Arts/Reading</option>
								<option  value="Food/Wine">Food/Wine</option>
								<option  value="Music/Dance">Music/Dance</option>
								<option  value="Nature/Outdoors">Nature/Outdoors</option>
								<option  value="Sports/Athletics">Sports/Athletics</option>
								<option  value="Television/Movies">Television/Movies</option>
                            </select> -->
							<small>Your first non-research interest</small>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Non-research Interests</label>
						</td>
                        <td class="value">
                            {{ form.nr2 }}
                            {% if form.nr2.errors %}
                                {% for error in form.nr2.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
							<!-- <select name="nonresearch_interest_second">
								<option selected="selected" value="None">None</option>
								<option value="">&nbsp;</option>
								<option  value="Animals/Pets">Animals/Pets</option>
								<option  value="Computers/Electronics">Computers/Electronics</option>
								<option  value="Current Events/Politics">Current Events/Politics</option>
								<option  value="Fine Arts/Reading">Fine Arts/Reading</option>
								<option  value="Food/Wine">Food/Wine</option>
								<option  value="Music/Dance">Music/Dance</option>
								<option  value="Nature/Outdoors">Nature/Outdoors</option>
								<option  value="Sports/Athletics">Sports/Athletics</option>
								<option  value="Television/Movies">Television/Movies</option>
                            </select> -->
							<small>Your second non-research interest</small>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Non-research Interests</label>
						</td>
						<td class="value">
                            {{ form.nr3 }}
                            {% if form.nr3.errors %}
                                {% for error in form.nr3.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
							<!-- <select name="nonresearch_interest_third">
								<option selected="selected" value="None">None</option>
								<option value="">&nbsp;</option>
								<option  value="Animals/Pets">Animals/Pets</option>
								<option  value="Computers/Electronics">Computers/Electronics</option>
								<option  value="Current Events/Politics">Current Events/Politics</option>
								<option  value="Fine Arts/Reading">Fine Arts/Reading</option>
								<option  value="Food/Wine">Food/Wine</option>
								<option  value="Music/Dance">Music/Dance</option>
								<option  value="Nature/Outdoors">Nature/Outdoors</option>
								<option  value="Sports/Athletics">Sports/Athletics</option>
								<option  value="Television/Movies">Television/Movies</option>
                            </select> -->
							<small>Your third non-research interest</small>
						</td>
                    </tr>

				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Dietary Restrictions</label>
						</td>
                        <td class="value">
                            {{ form.diet }}
                            {% if form.diet.errors %}
                                {% for error in form.diet.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <textarea name="comments"></textarea> -->
						</td>
					</tr>
				</tbody>
            </table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Special Needs</label>
						</td>
                        <td class="value">
                            {{ form.special_needs }}
                            {% if form.special_needs.errors %}
                                {% for error in form.special_needs.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
                            <!-- <textarea name="comments"></textarea> -->
						</td>
					</tr>
				</tbody>
			</table>
<!--
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Picture</label>
						</td>
                        <td class="value" style="padding-top: 15px" >
                            {{ form.picture }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                        <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                {% endfor %}
                            {% endif %}
						</td>
					</tr>
                </tbody>
            </table>
            -->         
            <table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Abstract</label>
						</td>
                        <td class="value"> 
                            <p style="padding-top: 15px;">
                                {{ form.abstract }}
                                {% if form.abstract.errors %}
                                    {% for error in form.abstract.errors %}
                                            <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                    {% endfor %}
                                    {% endif %}
                            </p>

                            <p style="padding-top: 5px; margin-left: -5px;">
                                {{ form.symposium_talk }}
                                {% if form.symposium_talk.errors %}
                                    {% for error in form.symposium_talk.errors %}
                                            <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                    {% endfor %}
                                    {% endif %}
                                I would like to give a symposium talk
                           </p>
						</td>
					</tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" style="margin-top: -25px">
				<tbody>
					<tr>
						<td class="key">
							<label>Children's Museum</label>
						</td>
                        <td class="value">
                                                    <p style="padding-top: 10px ; margin-left: -5px;">
                                                    {{ form.children_museum }}
                                                    {% if form.children_museum.errors %}
                                                        {% for error in form.children_museum.errors %}
                                                                <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                                        {% endfor %}
                                                        {% endif %}
                                                    I am interested in arriving early and working with the children's museum</p>
                                                    <p>If you are interested in working with the children's museum, then please include a paragraph describing why you would be a good candidate for the workshop</p>
                                                    <p>
                                        {{ form.child_museum_essay }}
                                        {% if form.child_museum_essay.errors %}
                                            {% for error in form.child_museum_essay.errors %}
                                                <strong style="color: #ff0000"> {{ error }} </strong> <br/>
                                            {% endfor %}
                                            {% endif %}
                                            </p>
						</td>
					</tr>
                </tbody>
            </table>
			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
						</td>
						<td class="value">
							<input class="submit" name="submit" type="submit" value="Submit"/>
						</td>
					</tr>
				</tbody>
			</table>
		</form>

        {% endblock %}
