{% extends "website/base.htm" %}
{% block content %}
		
<h1 class="entry-title">Registration Details</h1>

<h2><em style='color: #000'>Thank you for registering for ISLC 2014</em></h2>

        <form action="" class="registration-confirm" method="post">
			<table cellpadding="0" cellspacing="0">
                <tbody>
					<tr>
                        <td class="key">
                            <strong><p>First Name</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.first_name.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>Last Name</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.last_name.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>Email</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.email.value }}</p>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Student Status</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.status.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>SLC Center</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.slc.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>Department</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.department.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>University</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.university.value }}</p>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Research Interests</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.research.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>Non-research Interests</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.nr1.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>Non-research Interests</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.nr2.value }}</p>
						</td>
					</tr>
					<tr>
						<td class="key">
                            <strong><p>Non-research Interests</p></strong>
						</td>
						<td class="value">
                            <p>{{ form.nr3.value }}</p>
						</td>
                    </tr>

				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Dietary Restrictions</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.diet.value }}</p>
						</td>
					</tr>
				</tbody>
            </table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Special Needs</p></strong>
						</td>
                        <td class="value">
                            <p>{{ form.special_needs.value }}</p>
						</td>
					</tr>
				</tbody>
			</table>

            <table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Abstract</p></strong>
						</td>
                        <td class="value"> 
                            <p>
                                {{ form.abstract.value }}
                            </p>
                           </p>
						</td>
					</tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key" style="width: 300px;" >
                            <strong><p>Interested in giving a symposium talk?</p></strong>
						</td>
                        <td class="value"> 
                            <p>
                                {% if form.symposium_talk.value %}
                                    YES
                                {% else %}
                                    NO
                                {% endif %}
                            </p>
						</td>
					</tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Participating in Children's Museum</p></strong>
						</td>
                        <td class="value"> 
                            <p>
                                {% if form.children_museum.value %}
                                    YES
                                {% else %}
                                    NO
                                {% endif %}
                            </p>
						</td>
					</tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
                            <strong><p>Children's Museum essay</p></strong>
						</td>
                        <td class="value"> 
                            <p>
                                {{ form.child_museum_essay.value }}
                            </p>
						</td>
					</tr>
                </tbody>
            </table>
		</form>

        {% endblock %}
