{% extends "website/base.htm" %}
{% block content %}
		
<h1 class="entry-title">Registration Details</h1>

<h2><em style='color: #000'>Thank you for registering for ISLC 2014</em></h2>

        <form action="" class="registration" method="post">
			<table cellpadding="0" cellspacing="0">
                <tbody>
					<tr>
                        <td class="key">
							<label>First Name</label>
						</td>
                        <td class="value">
                            <label>{{ form.first_name.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Last Name</label>
						</td>
                        <td class="value">
                            <label>{{ form.last_name.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Email</label>
						</td>
                        <td class="value">
                            <label>{{ form.email.value }}</label>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Student Status</label>
						</td>
                        <td class="value">
                            <label>{{ form.status.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>SLC Center</label>
						</td>
                        <td class="value">
                            <label>{{ form.slc.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Department</label>
						</td>
                        <td class="value">
                            <label>{{ form.department.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>University</label>
						</td>
                        <td class="value">
                            <label>{{ form.university.value }}</label>
						</td>
					</tr>
				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Research Interests</label>
						</td>
                        <td class="value">
                            <label>{{ form.research.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Non-research Interests</label>
						</td>
                        <td class="value">
                            <label>{{ form.nr1.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Non-research Interests</label>
						</td>
                        <td class="value">
                            <label>{{ form.nr2.value }}</label>
						</td>
					</tr>
					<tr>
						<td class="key">
							<label>Non-research Interests</label>
						</td>
						<td class="value">
                            <label>{{ form.nr3.value }}</label>
						</td>
                    </tr>

				</tbody>
			</table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Dietary Restrictions</label>
						</td>
                        <td class="value">
                            <label>{{ form.diet.value }}</label>
						</td>
					</tr>
				</tbody>
            </table>

			<table cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td class="key">
							<label>Special Needs</label>
						</td>
                        <td class="value">
                            <label>{{ form.special_needs.value }}</label>
						</td>
					</tr>
				</tbody>
			</table>

			
		</form>

        {% endblock %}
