{% extends "website/base.htm" %}
{% block content %}
<h1 class="entry-title">Schedule</h1>

		
<h2>Thursday, March 6, 2014</h2>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr class="even">
<td width="18%">3:00 - 6:00</td>
<td>Arrival and registration</td>
</tr>
<tr class="odd">
<td>6:00 - 9:00</td>
<td>Networking, Dinner and&nbsp;Center overviews</td>
</tr>
</tbody>
</table>
<h2>Friday, March 7, 2014</h2>
<div>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100% ">
<tbody>
<tr class="even">
<td width="18%">8:00 - 9:00</td>
<td>Breakfast and poster setup</td>
</tr>
<tr class="odd">
<td>9:00 - 10:15</td>
<td>Symposium 1</td>
</tr>
<tr class="even">
<td>10:30 - 12:00</td>
<td>Symposium 2</td>
</tr>
<tr class="odd">
<td>12:00 - 1:00</td>
<td>Networking Lunch</td>
</tr>
<tr class="even">
<td>1:00 - 2:45</td>
<td>Poster Session</td>
</tr>
<tr class="odd">
<td>3:00 - 5:00</td>
<td>Workshops(~3-4, each 30-40 minutes long)</td>
</tr>
<tr class="even">
<td>6:00 - 10:00</td>
<td>Night at the <a href="https://pittsburghkids.org">Children's Museum</a> with Dinner, networking, and exhibit viewing</td>
</tr>
</tbody>
</table>
</div>
<h2>Saturday, March 8, 2014</h2>
<div>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr class="even">
<td width="18%">8:00 - 9:00</td>
<td>Breakfast and poster setup</td>
</tr>
<tr class="odd">
<td>9:00 - 9:45</td>
<td>PSLC PI Talk: Future of the Learning Sciences</td>
</tr>
<tr class="even">
<td>9:45 - 10:15</td>
<td>Roundtable discussion (KLI Discussion)</td>
</tr>
<tr class="odd">
<td>10:30 - 11:45</td>
<td>Symposium 3</td>
</tr>
<tr class="even">
<td>12:00 - 1:00</td>
<td>Networking Lunch</td>
</tr>
<tr class="odd">
<td>1:00 - 2:30</td>
<td>Poster Session</td>
</tr>
<tr class="even">
<td>2:30 - 3:45</td>
<td>Alumni Panels</td>
</tr>
<tr class="odd">
<td>4:00 - 5:15</td>
<td>Symposium 4</td>
</tr>
<tr class="even">
<td>5:15 - 6:00</td>
<td>Closing Group Discussion</td>
</tr>
<tr class="odd">
<td>6:00</td>
<td>Dinner, networking, Pittsburgh culture</a></td>
</tr>
</tbody>
</table>
</div>
<div>
<h2>Depart Sunday, March 9, 2014</h2>
</div>
		
    {% endblock %}
