{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">Schedule</h1>
		
		<p><span style="font-size: 1.5em;">Thursday, February 21, 2013</span></p>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr class="even">
<td width="18%">3:00 - 6:00</td>
<td>Arrival and registration</td>
</tr>
<tr class="odd">
<td>6:00 - 9:00</td>
<td>Networking, Dinner and&nbsp;Center overviews at <a href="http://www.loewshotels.com/Philadelphia-Hotel/">Loews Hotel Philadelphia</a></td>
</tr>
</tbody>
</table>
<h2>Friday, February 22, 2013</h2>
<div>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100% ">
<tbody>
<tr class="even">
<td width="18%">8:00 - 9:00</td>
<td>Breakfast and poster setup</td>
</tr>
<tr class="odd">
<td>9:00 - 10:15</td>
<td>Symposium 1</td>
</tr>
<tr class="even">
<td>10:30 - 12:00</td>
<td>Symposium 2</td>
</tr>
<tr class="odd">
<td>12:00 - 1:00</td>
<td>Lunch</td>
</tr>
<tr class="even">
<td>1:00 - 3:00</td>
<td>Poster session 1: &nbsp;LIFE, TDLC, SILC</td>
</tr>
<tr class="odd">
<td>3:00 - 5:00</td>
<td>Workshops</td>
</tr>
<tr class="even">
<td>5:45</td>
<td>Buses depart to Philadelphia Museum of Art</td>
</tr>
<tr class="odd">
<td>6:00 - 10:00</td>
<td>Dinner, networking, and jazz at <a href="http://www.philamuseum.org/artafter5/">Philadelphia Museum of Art</a></td>
</tr>
</tbody>
</table>
</div>
<h2>Saturday, February 23, 2013</h2>
<div>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr class="even">
<td width="18%">8:00 - 9:00</td>
<td>Breakfast and poster setup</td>
</tr>
<tr class="odd">
<td>9:00 - 10:15</td>
<td>SILC PI Talk (Nora Newcombe)</td>
</tr>
<tr class="even">
<td>10:30 - 12:00</td>
<td>Alumni Workshops</td>
</tr>
<tr class="odd">
<td>12:00 - 1:00</td>
<td>Lunch with Alumni and SILC faculty</td>
</tr>
<tr class="even">
<td>1:00 - 3:00</td>
<td>Poster Session 2: &nbsp;CELEST, PSLC, VL2</td>
</tr>
<tr class="odd">
<td>3:00 - 4:15</td>
<td>Symposium 3</td>
</tr>
<tr class="even">
<td>4:30 - 5:45</td>
<td>Symposium 4</td>
</tr>
<tr class="odd">
<td>6:00</td>
<td>Dinner at <a href="http://www.thepalaceattheben.com/">Palace at the Ben</a></td>
</tr>
</tbody>
</table>
</div>
<div>
<h2>Depart Sunday&nbsp;February&nbsp;24, 2013</h2>
</div>
		
	</div>
    {% endblock %}
