{% extends "website/base.htm" %}
{% block content %}
<h1 class="entry-title">Schedule</h1>

		
<h2>Thursday, March 6, 2014</h2>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr class="even">
<td width="18%">7 - 8pm</td>
<td width="15%">Sign in and reception</td>
<td width="20%">Wyndham Hotel - Schenley Ballroom</td>
<td>To the left of the check-in desk at the hotel. Parking available in hotel lot or on the street</td>
</tr>
<tr class="odd">
<td width="18%">8 - 9:30pm</td>
<td width="15%">Dinner and Center Introduction</td>
<td width="20%">Wyndham Hotel</td>
<td></td>
</tr>
</tbody>
</table>
<h2>Friday, March 7, 2014</h2>
<div>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100% ">
<tbody>
<tr class="even">
<td width="18%">8 - 9am</td>
<td width="15%">Breakfast and poster setup</td>
<td width="20%">CMU University Center - Connan Room</td>
<td>Map to the University Center is included in your info packet. Please arrive between 8 & 8:30am. Those who will be presenting in poster group 1 or 2 should allow time for poster setup.</td>
</tr>
<tr class="odd">
<td width="18%">9 - 9:45am</td>
<td width="15%">PSLC PI Talk: KLI</td>
<td width="20%">Connan Room</td>
<td>Dr. Vincent Aleven will discuss the KLI Framework</td>
</tr>
<tr class="even">
<td width="18%">9:45 - 10:15am</td>
<td width="15%">KLI Roundtable</td>
<td width="20%">Connan Room and MPW</td>
<td><strong>Groups 1,2,3,5,7,8,9:</strong> Meet in MPW<br/><br/>
    <strong>Groups 4,6:</strong> Meet in Danforth<br/><br/>
    <em>(See KLI handout for your grouping)</em></td>
</tr>
<tr class="odd">
<td width="18%">10:15 - 10:30am</td>
<td width="15%">Break</td>
<td> </td>
    <td></td>
</tr>
<tr class="even">
<td width="18%">10:30 - 11:45am</td>
<td width="15%">Research Applications Symposium</td>
<td width="20%">Connan</td>
<td><strong>Audrey Kittredge:</strong> Instruction of discovery in young children<br/><br/>
    <strong>Raedy Ping:</strong> A systematic investigation of parent scaffolding during spatial play for boy and girl children<br/><br/>
    <strong>Kerri Wingert:</strong> Argumentation in BIO 200: Lessons from LIFE and Linguistics</td>
</tr>
<tr class="odd">
<td width="18%">11:45 - 12pm</td>
<td width="15%">Pickup Lunch</td>
<td width-"20%">Connan</td>
<td> </td>
</tr>
<tr class="even">
<td width="18%">12 - 1pm</td>
<td width="15%">Research-based Networking Lunch</td>
<td width-"20%">MPW and Danforth</td>
<td><strong>Groups 1-4:</strong> Danforth<br/><br/>
    <strong>Groups 5-11:</strong> MPW</td>
</tr>
<tr class="odd">
<td width="18%">1 - 1:45pm</td>
<td width="15%">Poster Session 1</td>
<td width-"20%">MPW and Danforth</td>
<td><strong>MPW:</strong> Christopher Johnson, Eric Denovellis, Stefan Berteau, Deana Scipio, Fan Kong, Suzanne Perin, Elizabeth Hirshorn, Jennifer Olsen, Lisa Sprute<br/><br/>
    <strong>Danforth:</strong> Neon Brooks, Rachel Ostrand, Vicente Malave, Gina De Naples, Teri Jaquez, Todd LaMarr</td>
</tr>
<tr class="even">
<td width="18%">1:45 - 2:30pm</td>
<td width="15%">Poster Session 2</td>
<td width-"20%">MPW and Danforth</td>
<td><strong>MPW:</strong> Abigail Noyce, Veronica Cassone-McGowan, Elizabeth Richey, Eric Harpstead, Kelly Rivers, Simen Hagen, Paul Twitchell<br/><br/>
    <strong>Danforth:</strong> Lucy Erickson, Ran Liu, Jamie Jirout, Kay Ramey, Buyun Xu, Jessica Contreras</td>
</tr>
<tr class="odd">
    <td width="18%">2:15 - 2:30pm</td>
    <td width="15%">Coffee Break</td>
    <td width="20%">Danforth</td>
    <td></td>
</tr>
<tr class="even">
    <td width="18%">2:30 - 3:45pm</td>
    <td width="15%">Collaborative Research Symposium</td>
    <td width="20%">Connan</td>
    <td><strong>Mohsen Malmir:</strong> HRI as a Tool to Monitor Socio-Emotional Development in Early Childhood Education<br/><br/>
        <strong>Eliane Klein:</strong> "I'm a Believer in Both": A Study of Educators' Discourse About Evolution<br/><br/>
        <strong>David Miller:</strong> Collaborating to Facilitate Pathways into STEM Fields</td>
</tr>
<tr class="odd">
    <td width="18%">3:45 - 4:25pm</td>
    <td width="15%">Workshops 1 & 2</td>
    <td width="20%">Connan and MPW</td>
    <td><strong>Groups 1-6:</strong> attend workshop on Collaboration in Schools<em>(in Connan)</em><br/><br/>
        <strong>Groups 7-11:</strong> attend workshop on Video Interaction Analysis<em>(in MPW)</em></td>
</tr>
<tr class="even">
    <td width="18%">4:25 - 4:35pm</td>
    <td width="15%">Break</td>
    <td width="20%"></td>
    <td></td>
</tr>
<tr class="odd">
    <td width="18%">4:35 - 5:15pm</td>
    <td width="15%">Workshops 1 & 2</td>
    <td width="20%">Connan and MPW</td>
    <td><strong>Groups 1-6:</strong> attend workshop on Video Interaction Analysis<em>(in MPW)</em><br/><br/>
        <strong>Groups 7-11:</strong> attend workshop on collaboration in schools<em>(in Connan)</em></td>
</tr>
<tr class="even">
    <td width="18%">5:15pm</td>
    <td>Return to hotel</td>
    <td></td>
    <td></td>
</tr>
<tr class="odd">
    <td width="18%">6pm</td>
    <td width="15%">Shuttle to Museum</td>
    <td width="20%">Wyndham Hotel</td>
    <td>Three Shuttles will depart from the hotel at 6.  Please be on time.</td>
</tr>
<tr class="even">
    <td width="18%">6:15 - 9:30pm</td>
    <td width="15%">Dinner and Presentations</td>
    <td width="20%">Pittsburgh Children's Museum</td>
    <td>Those selected to come early and work with the Children's museum will display their work<br/></td>
</tr>
</tbody>
</table>
</div>
<h2>Saturday, March 8, 2014</h2>
<div>
<table class="schedule" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr class="even">
<td width="18%">8 - 9am</td>
<td width="15%">Breakfast and Poster setup</td>
<td width="20%">CMU University Center - Connan Room</td>
<td>Map to the University Center is included in your info packet. Please arrive between 8 & 8:30. Those who will be presenting in poster group 3 or 4 shoud allow time for poster setup</td>
</tr>
<tr class="odd">
<td width="18%">9 - 10:15am</td>
<td width="15%">Educational Neuroscience Symposium</td>
<td width="20%">Connan Room</td>
<td><strong>Samantha Michalka:</strong> Sensory attention networks and neuroscience applications for educational technology<br/><br/>
    <strong>Lisa Payne:</strong> Attention-modulated alpha-band oscillations protect against encoding of irrelevant visual and auditory simuli<br/><br/>
    <strong>Shane Blau & Todd LaMarr:</strong> Effect of Visual Language Experience on Auditory Function</td>
</tr>
<tr class="even">
<td width="18%">10:15 - 10:30am</td>
<td width="15%">Break</td>
<td width="20%"></td>
<td></td>
</tr>
<tr class="odd">
<td width="18%">10:30 - 11am</td>
<td width="15%">Workshop 3 & 4</td>
<td width="20%">Connan and MPW</td>
<td><strong>Groups 1-6:</strong> Attend workshop on Children's Museum <em>(in Connan)</em><br/><br/>
    <strong>Groups 7-13:</strong> Attend workshop on Online Resources for Collaboration <em>(in MPW)</em></td>
</tr>
<tr class="even">
<td width="18%">11 - 11:15am</td>
<td width="15%">Break</td>
<td width="20%"></td>
<td></td>
</tr>
<tr class="odd">
<td width="18%">11:15 - 11:45pm</td>
<td width="15%">Workshop 3 & 4</td>
<td width="20%">Connan and MPW</td>
<td><strong>Groups 1-6:</strong> Attend workshop on Online Resources for Collaboration <em>(in MPW)</em><br/><br/>
    <strong>Groups 7-13:</strong> Attend workshop on Children's Museum <em>(in Connan)</em></td>
</tr>
<tr class="even">
<td width="18%">11:45 - 12pm</td>
<td width="15%">Pickup Lunch</td>
<td width-"20%">Connan</td>
<td></td>
</tr>
<tr class="odd">
<td width="18%">12 - 1pm</td>
<td width="15%">Research-based Networking Lunch</td>
<td width-"20%">MPW and Danforth</td>
<td><strong>Groups 2,6,7,9,10,12,13:</strong> MPW<br/><br/>
    <strong>Groups 1,4,8,11:</strong> Tables outside Danforth<br/><br/>
    <strong>Groups 3,5:</strong> Danforth</td>
</tr>
<tr class="even">
<td width="18%">1 - 1:45pm</td>
<td width="15%">Poster Session 3</td>
<td width-"20%">MPW and Danforth</td>
<td><strong>MPW:</strong> Andres Felipe, Salazr-Gomez, Danielle Keifert, Caitlen Tenison, Colleen Davy, Noora Hamdan, Brett Roads, Adam Stone, Geo Kartheiser
    <strong>Danforth:</strong> Shane Blau, Jeremy Karnowski, Cassie Freeman, Adeetee Bhide, Guillaume Riesen, Micaela Trujillo, Jenessa Seymour</td>
</tr>
<tr class="odd">
    <td width="18%">1:45 - 2:30pm</td>
    <td width="15%">Poster Session 4</td>
    <td width="20%">MPW and Danforth</td>
    <td><strong>MPW:</strong> Kari Shutt, Chriss MacLellan, Noriyasu Li, Rony Patel, Steven Dang, Sue Peters, Kailea Colayori<br/><br/>
        <strong>Danforth:</strong> Audrey Michal, Bryan Matlan, Nathan George, Daeun Lee, Sarah Haigh, Tina Liu</td>
</tr>
<tr class="even">
    <td width="18%">2:30 - 3pm</td>
    <td width="15%">Coffee Break</td>
    <td width="20%"></td>
    <td></td>
</tr>
<tr class="odd">
    <td width="18%">3 - 3:45pm</td>
    <td width="15%">Alumni Panels</td>
    <td width="20%">Industry Panel<br/><em>(Connan)</em><br/> &<br/> Academia Panel<br/><em>(MPW)</em></td>
    <td><strong>Academia Panel:</strong><br/>
        Gabrielle Jones (Boston University)<br/>
        Elizabeth Walsh (San Jose State University)<br/>
        Jonathan Brumberg (University of Kansas)<br/>
        Kelly Fisher (Johns Hopkins University)<br/><br/>
        <strong>Industry Panel:</strong><br/>
        Gretchen Markiewicz (Ratheon BBN Technologies)<br/>
        Elijah Mayfield (Lightside Labs)<br/>
        Ilya Goldin (Pearson)</td>
</tr>
<tr class="even">
    <td width="18%">4 - 5:15pm</td>
    <td width="15%">Theory Symposium</td>
    <td width="20%">Connan</td>
    <td><strong>Katherine Martin:</strong> L1 Orthography and Item Characteristics Impact Spelling Knowledge in ESL Learners<br/><br/>
        <strong>Deborah Cates:</strong> Deaf Readers: Monolingual or Bilingual?<br/><br/>
        <strong>Eva Dundas:</strong> Altered Hemispheric specialization for faces and words in developmental dyslexia</td>
</tr>
<tr class="odd">
    <td width="18%">5:15 - 5:45pm</td>
    <td width="15%">Closing Group Discussion</td>
    <td width="20%">Connan</td>
    <td>Chris and Caitlin will help lead the closing discussion about the future of this conference.</td>
</tr>
<tr class="even">
    <td width="18%">5:45pm-???</td>
    <td>Dinner</td>
    <td>The Porch on Schenley Plaza</td>
    <td></td>
</tr>
</tbody>
</table>
</div>
<div>
<h2>Depart Sunday, March 9, 2014</h2>
</div>
		
    {% endblock %}
