{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">SLC Information</h1>
		
		<p>(from <a href="http://www.nsf.gov/slc">www.nsf.gov/slc</a> )</p>
<p>The Science of Learning Centers program (SLC) offers awards for large-scale, long-term Centers that create the intellectual, organizational and physical infrastructure needed for the long-term advancement of Science of Learning research. It supports research that harnesses and integrates knowledge across multiple disciplines to create a common groundwork of conceptualization, experimentation and explanation that anchor new lines of thinking and inquiry towards a deeper understanding of learning.</p>
<p>The goals of the Science of Learning Centers Program are to advance the frontiers of all the sciences of learning through integrated research; to connect the research to specific scientific, technological, educational, and workforce challenges; to enable research communities to capitalize on new opportunities and discoveries; and to respond to new challenges.</p>
<p>The SLC Program construes learning broadly, including that of animals, humans and machines. The program is open to many possible approaches and topics that can be brought to examine what learning is, how it is affected, how it works at different levels, how biologically-derived learning principles can inform artificial systems and vice versa. The Program places high value on creativity, integration of theoretical and empirical work, innovative models of research and research transfer, and inventive uses of technology.</p>
<p>Science of Learning Centers are built around a unifying research focus and incorporate a diverse, multidisciplinary environment involving appropriate partnerships with academia, industry, all levels of education, and other public and private entities.</p>
<p>For additional information about the Science of Learning Centers Program, please visit <a href="http://www.nsf.gov/slc">www.nsf.gov/slc</a>.</p>
		
	</div>

    {% endblock %}	
