{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">Travel Information</h1>
		
        <p>All iSLC Conference-related travel expenses will be covered for each Center’s
        selected participants. This includes airfare and ground transportation to and
        from the airport, hotel accommodations, and appropriate per diem allowances for
        travel with expected arrival date on Thursday, March 6, 2014 and departure
        date on Sunday, March 8, 2014. Based on our NSF-approved budget, each center
        has been allocated funding that should cover the costs of 15 participants to
        attend the conference.</p>
<p><span style="font-size: 1.5em;">Conference Venue</span></p>
<p>The 2012 iSLC Conference will be held at Carnegie Mellon University Center.</p>
<h2>Airfare</h2>
<p>Please book your flight using the cheapest avenue.  Keep your receipts and
submit them for reimbursement.  All receipts need to be submitted by March 22nd
or you will not be reimbursed.</p>
<h2>Hotel Accommodations</h2>
<p>All conference participants will stay at the Wyndham Pittsburgh University
Center. To stay within our budget, we ask that all participants share a room.
Participants who do not have a roommate may be asked to room with a participant
from another Center who is of the same gender. Roommate preferences should be
submitted to your Center’s iSLC Conference representative. You do not need to
make a hotel reservation; this will be taken care of by the Local Planning
Committee in Pittsburgh.</p>
<!-- <h2>Reimbursement</h2>
<p>Please keep all travel receipts. Upon returning home, please send your receipts Justin Long by <strong>March 4th</strong>:</p>
<address><span style="font-style: normal;">Justin Long (justin.long@temple.edu)<br>
Department of Psychology, Temple University<br>
1701 N. 13th Street</span></address>
<address><span style="font-style: normal;">Philadelphia PA 19122</span></address> -->
		
    {% endblock %}
