{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">Travel Information</h1>
		
        <p>All iSLC Conference-related travel expenses will be covered for each Center’s
        selected participants. This includes airfare and ground transportation to and
        from the airport, hotel accommodations, and appropriate per diem allowances for
        travel with expected arrival date on Thursday, March 6, 2014 and departure
        date on Sunday, March 8, 2014. Based on our NSF-approved budget, each center
        has been allocated funding that should cover the costs of 15 participants to
        attend the conference.</p>
<p><span style="font-size: 1.5em;">Conference Venue</span></p>
<p>The 2014 iSLC Conference will be held at Carnegie Mellon University Center.</p>
<h2>Airfare</h2>
<p>Please book your flight using the cheapest avenue.  Keep your receipts and
submit them for reimbursement.  All receipts need to be submitted by March 22nd
or you will not be reimbursed.</p>
<h2>Hotel Accommodations</h2>
<p>All conference participants will stay at the Wyndham Pittsburgh University
Center. To stay within our budget, we ask that all participants share a room.
Participants who do not have a roommate may be asked to room with a participant
from another Center who is of the same gender. Roommate preferences should be
submitted to your Center’s iSLC Conference representative. You do not need to
make a hotel reservation; this will be taken care of by the Local Planning
Committee in Pittsburgh.</p>
<h2>Getting from the Airport to the Hotel</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d194234.64260522395!2d-80.11026949999993!3d40.477116882255736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e3!4m5!1s0x88345cc34ecd5b37%3A0xc812270d148d3f59!2sPittsburgh+International+Airport%2C+1000+Airport+Blvd%2C+Pittsburgh%2C+PA+15231!3m2!1d40.493432999999996!2d-80.234867!4m5!1s0x8834f22906500183%3A0xd85d97561688ed7f!2sWyndham+Pittsburgh+University+Center%2C+100+Lytton+Ave%2C+Pittsburgh%2C+PA+15213!3m2!1d40.446051!2d-79.954312!5e0!3m2!1sen!2sus!4v1393910999108" width="600" height="450" frameborder="0" style="border:0"></iframe>
<p>In order to get from the airport to the Wyndham Hotel, you can catch the 28x bus from the airport, and get off at Bellefield and 5th Ave. You will require exactly $3.75 for the bus fare each direction, no change is available. The hotel is 3 blocks west on 5th Ave walking along 5th Ave towards the Cathedral of Learning (Large Gothic Church building).  Then turn right on Lytton Ave. and walk for 0.5 blocks. The hotel will be on your right.<br/>
</p>
<!-- <h2>Reimbursement</h2>
<p>Please keep all travel receipts. Upon returning home, please send your receipts Justin Long by <strong>March 4th</strong>:</p>
<address><span style="font-style: normal;">Justin Long (justin.long@temple.edu)<br>
Department of Psychology, Temple University<br>
1701 N. 13th Street</span></address>
<address><span style="font-style: normal;">Philadelphia PA 19122</span></address> -->
		
    {% endblock %}
