{% extends "website/base.htm" %}
{% block content %}
		<h1 class="entry-title">Travel Information</h1>
		
		<p>All iSLC Conference-related travel expenses will be covered for each Center’s selected participants. This includes airfare and ground transportation to and from the airport, hotel accommodations, and appropriate per diem allowances for travel with expected arrival date on Thursday, February 21, 2013 and departure date on Sunday, February 24, 2013. Based on our NSF-approved budget, each center has been allocated funding that should cover the costs of 15 participants to attend the<br>
conference.</p>
<p><span style="font-size: 1.5em;">Conference Venue</span></p>
<p>The 2012 iSLC Conference will be held at <a href="http://www.loewshotels.com/Philadelphia-Hotel">Loews Hotel Philadelphia</a>.</p>
<h2>Airfare</h2>
<p>Please book your flight using the cheapest avenue. &nbsp;Keep your&nbsp;receipts&nbsp;and submit them for&nbsp;reimbursement. &nbsp;All receipts&nbsp;need to be sumnitted by <strong>March 4th</strong> or you will not be reimbursed.</p>
<h2>Hotel Accommodations</h2>
<p>All conference participants will stay at the <a href="http://www.loewshotels.com/Philadelphia-Hotel">Loews Hotel Philadelphia</a>. To stay within our budget, we ask that all participants share a room. Participants who do not have a roommate may be asked to room with&nbsp;a participant from another Center who is of the same gender. Roommate preferences&nbsp;should be submitted to your Center’s iSLC Conference representative. You do not need&nbsp;to make a hotel reservation; this will be taken care of by the Local Planning Committee in Philadelphia.</p>
<h2>Ground Transportation</h2>
<p>To get to the hotel from the airport, participants will take the train from the&nbsp;Philadelphia&nbsp;International Airport to Market East Station. &nbsp;From the&nbsp;airport&nbsp;take the <a href="http://www.septa.org/schedules/rail/pdf/air.pdf">SEPTA Airport Regional Rail</a> to the Market East Train Station (which is on Market St. between 10th and 12th). &nbsp;All lines from the airport go to Market East and you can buy your ticket on the train. &nbsp;You must have CASH to get your ticket (keep your ticket - it is your&nbsp;receipt). &nbsp;Exit the Market East Train Station towards 12th Street. &nbsp;Loews Hotel is located at 12th and Market. &nbsp;If you come out of the train station on either 10th or 11th you will have to walk a couple blocks on Market to 12th Street.</p>
<h2>Reimbursement</h2>
<p>Please keep all travel receipts. Upon returning home, please send your receipts Justin Long by <strong>March 4th</strong>:</p>
<address><span style="font-style: normal;">Justin Long (justin.long@temple.edu)<br>
Department of Psychology, Temple University<br>
1701 N. 13th Street</span></address>
<address><span style="font-style: normal;">Philadelphia PA 19122</span></address>
		
	</div>
    {% endblock %}
